@model CNCDataManager.Models.ReportTemplateResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; charset=utf-8"/>
    <title>文档预览</title>
    <link href="~/App/styles/others/docPreview.css" rel="stylesheet" />
</head>
<body>
    <div class="middle-container">
        <div class="fixed-window">
            <a class="download" href="/Report/DownLoad?shortName=@Model.Filename">下载报表</a>
            <div style="margin-top: -1cm">
                <img id="university-icon" src="~/App/images/Report/university-icon.png" />
            </div>
            <div style="position: relative">
                <img id="barcode" src="~/App/images/Report/条形码.png" />
                <div id="time-div"class="inline-div">
                    <p>@DateTime.Now.ToString("yyyy年MM月dd日 hh:mm:ss")</p>
                    <ul style="line-height: 20px">
                        <li>公司 ：</li>
                        <li>部门 ：</li>
                        <li>姓名 ：</li>
                        <li>地址 ：</li>
                        <li>电话 ：</li>
                        <li>传真 ：</li>
                        <li>邮箱 ：</li>
                    </ul>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />

            <h2 id="title">《国产数控系统选型结果分析报告》</h2>
            <br />
            <ol style="line-height: 24px; margin-left: 20px">
                <li>请参考数控机床选型结果</li>
                <li>如果还有其他问题，请联系我们</li>
                <li>非常感谢使用我公司的数控系统选型软件</li>
            </ol>
            <br />
            <br />

            <h3 class="sub-title">一、 应用机床类型及其传动方式</h3>
            <p class="paragraph">客户先根据需求选择机床类型，先选择机床一级类型铣床，再选择机床二级类型立式铣床，再根据所选机床类型，得到相应的匹配计算过程及仿真结果。</p>
            <p class="paragraph">机床示意彩图：</p>
            <br />
            <div>
                <img id="machineType-pic" src="@Model.MachinePicture" />
            </div>

            <p class="paragraph">进给系统传动方式为：</p>
            <table class="doc-table">
                <tr>
                    <td>轴号</td>
                    <td>传动方式</td>
                </tr>
                <tr>
                    <td>X轴</td>
                    <td>@Model.TransmissionMethod.XAxis</td>
                </tr>
                <tr>
                    <td>Y轴</td>
                    <td>@Model.TransmissionMethod.YAxis</td>
                </tr>
                <tr>
                    <td>Z轴</td>
                    <td>@Model.TransmissionMethod.ZAxis</td>
                </tr>
            </table>
            <br />
            <br />
            <h3 class="sub-title">二、 部件清单</h3>
            <br />
            <table class="doc-table">
                <tr>
                    <td>序号</td>
                    <td>轴号加部件名称</td>
                    <td>生产厂家</td>
                    <td>型号</td>
                </tr>
                @{ 
                    for (int i = 0; i < Model.Components.Count; i++)
                    {
                        <tr>
                            <td>@(i * 10 + 10)</td>
                            <td>@Model.Components[i].AxisAndName</td>
                            <td>@Model.Components[i].Manufacturer</td>
                            <td>@Model.Components[i].TypeID</td>
                        </tr>
                    }
                    for(int i = Model.Components.Count; i < Model.Components.Count + 10; i++)
                    {
                        <tr>
                            <td>@(i * 10 + 10)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
            </table>
            <br />

            <h3 class="sub-title">三、 重要部件基本参数</h3>
            <br />
            <table class="doc-table">
                <tr>
                    <td>数控系统</td>
                    <td>@Model.NCSystem.TypeID</td>
                </tr>
                <tr>
                    <td>支持机床类型</td>
                    <td>@Model.NCSystem.SupportMachineType</td>
                </tr>
                <tr>
                    <td>支持通道数</td>
                    <td>@Model.NCSystem.NumberOfSupportChannels</td>
                </tr>
                <tr>
                    <td>进给轴最大控制轴数</td>
                    <td>@Model.NCSystem.MaxNumberOfFeedSystemAxis</td>
                </tr>
                <tr>
                    <td>主轴最大控制轴数c</td>
                    <td>@Model.NCSystem.MaxNumberOfSpindleAxis</td>
                </tr>
                <tr>
                    <td>最大联动轴数</td>
                    <td>@Model.NCSystem.MaxNumberOfLinkageAxis</td>
                </tr>
            </table>
            <br />

            <table class="doc-table">
                <tr><td class ="td-25"colspan="3">伺服电机</td></tr>
                <tr>
                    <td rowspan="4">X轴</td>
                    <td>额定转矩 N·m</td>
                    <td class ="td-25">@Model.ServoMotor.XAxis.RatedTorque</td>
                </tr>
                <tr>
                    <td>额定转速 r/min</td>
                    <td class ="td-25">@Model.ServoMotor.XAxis.RatedSpeed</td>
                </tr>
                <tr>
                    <td>转动惯量 Kg·m²</td>
                    <td class ="td-25">@Model.ServoMotor.XAxis.MomentOfInertia</td>
                </tr>
                <tr>
                    <td>额定功率 KW</td>
                    <td class ="td-25">@Model.ServoMotor.XAxis.RatedPower</td>
                </tr>
                <tr>
                    <td class ="td-25" rowspan="4">Y轴</td>
                    <td>额定转矩 N·m</td>
                    <td class ="td-25">@Model.ServoMotor.YAxis.RatedTorque</td>
                </tr>
                <tr>
                    <td>额定转速 r/min</td>
                    <td class ="td-25">@Model.ServoMotor.YAxis.RatedSpeed</td>
                </tr>
                <tr>
                    <td>转动惯量 Kg·m²</td>
                    <td class ="td-25">@Model.ServoMotor.YAxis.MomentOfInertia</td>
                </tr>
                <tr>
                    <td>额定功率 KW</td>
                    <td class ="td-25">@Model.ServoMotor.YAxis.RatedPower</td>
                </tr>
                <tr>
                    <td class ="td-25" rowspan="4">Z轴</td>
                    <td>额定转矩 N·m</td>
                    <td class ="td-25">@Model.ServoMotor.ZAxis.RatedTorque</td>
                </tr>
                <tr>
                    <td>额定转速 r/min</td>
                    <td class ="td-25">@Model.ServoMotor.ZAxis.RatedSpeed</td>
                </tr>
                <tr>
                    <td>转动惯量 Kg·m²</td>
                    <td class ="td-25">@Model.ServoMotor.ZAxis.MomentOfInertia</td>
                </tr>
                <tr>
                    <td>额定功率 KW</td>
                    <td class ="td-25">@Model.ServoMotor.ZAxis.RatedPower</td>
                </tr>
            </table>
            <br />

            <table class="doc-table">
                <tr><td colspan="3">伺服驱动器</td></tr>
                <tr>
                    <td class ="td-25" rowspan="5">X轴</td>
                    <td>连续电流（A/30分钟）</td>
                    <td class ="td-25">@Model.ServoDriver.XAxis.ContinuousCurrent</td>
                </tr>
                <tr>
                    <td>短时最大电流（A/1分钟）</td>
                    <td class ="td-25">@Model.ServoDriver.XAxis.PeakCurrent</td>
                </tr>
                <tr>
                    <td>电源电压 V</td>
                    <td class ="td-25">@Model.ServoDriver.XAxis.SupplyVoltage</td>
                </tr>
                <tr>
                    <td>最大适配电机功率 KW</td>
                    <td class ="td-25">@Model.ServoDriver.XAxis.MaxAdaptableMotorPower</td>
                </tr>
                <tr>
                    <td>外接制动电阻 KΩ</td>
                    <td class ="td-25">@Model.ServoDriver.XAxis.ExternalBrakingResistance</td>
                </tr>

                <tr>
                    <td class ="td-25" rowspan="5">Y轴</td>
                    <td>连续电流（A/30分钟）</td>
                    <td class ="td-25">@Model.ServoDriver.YAxis.ContinuousCurrent</td>
                </tr>
                <tr>
                    <td>短时最大电流（A/1分钟）</td>
                    <td class ="td-25">@Model.ServoDriver.YAxis.PeakCurrent</td>
                </tr>
                <tr>
                    <td>电源电压 V</td>
                    <td class ="td-25">@Model.ServoDriver.YAxis.SupplyVoltage</td>
                </tr>
                <tr>
                    <td>最大适配电机功率 KW</td>
                    <td class ="td-25">@Model.ServoDriver.YAxis.MaxAdaptableMotorPower</td>
                </tr>
                <tr>
                    <td>外接制动电阻 KΩ</td>
                    <td class ="td-25">@Model.ServoDriver.YAxis.ExternalBrakingResistance</td>
                </tr>

                <tr>
                    <td class ="td-25" rowspan="5">Z轴</td>
                    <td>连续电流（A/30分钟）</td>
                    <td class ="td-25">@Model.ServoDriver.ZAxis.ContinuousCurrent</td>
                </tr>
                <tr>
                    <td>短时最大电流（A/1分钟）</td>
                    <td class ="td-25">@Model.ServoDriver.ZAxis.PeakCurrent</td>
                </tr>
                <tr>
                    <td>电源电压 V</td>
                    <td class ="td-25">@Model.ServoDriver.ZAxis.SupplyVoltage</td>
                </tr>
                <tr>
                    <td>最大适配电机功率 KW</td>
                    <td class ="td-25">@Model.ServoDriver.ZAxis.MaxAdaptableMotorPower</td>
                </tr>
                <tr>
                    <td>外接制动电阻 KΩ</td>
                    <td class ="td-25">@Model.ServoDriver.ZAxis.ExternalBrakingResistance</td>
                </tr>

            </table>
            <br />

            <table class="doc-table">
                <tr><td colspan="3">导轨</td></tr>
                <tr>
                    <td class ="td-25" rowspan="4">X轴</td>
                    <td>导轨固定螺栓尺寸</td>
                    <td class ="td-25">@Model.Guide.XAxis.SizeOfGuideFixedBolt</td>
                </tr>
                <tr>
                    <td>滚子类型</td>
                    <td class ="td-25">@Model.Guide.XAxis.RollerType</td>
                </tr>
                <tr>
                    <td>基本动额定负荷 C/KN</td>
                    <td class ="td-25">@Model.Guide.XAxis.BasicRatedDynamicLoad</td>
                </tr>
                <tr>
                    <td>基本静额定负荷 C0/KN</td>
                    <td class ="td-25">@Model.Guide.XAxis.BasicRatedStaticLoad</td>
                </tr>

                <tr>
                    <td class ="td-25" rowspan="4">Y轴</td>
                    <td>导轨固定螺栓尺寸</td>
                    <td class ="td-25">@Model.Guide.YAxis.SizeOfGuideFixedBolt</td>
                </tr>
                <tr>
                    <td>滚子类型</td>
                    <td class ="td-25">@Model.Guide.YAxis.RollerType</td>
                </tr>
                <tr>
                    <td>基本动额定负荷 C/KN</td>
                    <td class ="td-25">@Model.Guide.YAxis.BasicRatedDynamicLoad</td>
                </tr>
                <tr>
                    <td>基本静额定负荷 C0/KN</td>
                    <td class ="td-25">@Model.Guide.YAxis.BasicRatedStaticLoad</td>
                </tr>

                <tr>
                    <td class ="td-25" rowspan="4">Z轴</td>
                    <td>导轨固定螺栓尺寸</td>
                    <td class ="td-25">@Model.Guide.ZAxis.SizeOfGuideFixedBolt</td>
                </tr>
                <tr>
                    <td>滚子类型</td>
                    <td class ="td-25">@Model.Guide.ZAxis.RollerType</td>
                </tr>
                <tr>
                    <td>基本动额定负荷 C/KN</td>
                    <td class ="td-25">@Model.Guide.ZAxis.BasicRatedDynamicLoad</td>
                </tr>
                <tr>
                    <td>基本静额定负荷 C0/KN</td>
                    <td class ="td-25">@Model.Guide.ZAxis.BasicRatedStaticLoad</td>
                </tr>
            </table>
            <br />

            <table class="doc-table">
                <tr><td colspan="3">滚珠丝杠</td></tr>
                <tr>
                    <td class ="td-25" rowspan="3">X轴</td>
                    <td>公称直径 d0/mm</td>
                    <td class ="td-25">@Model.BallScrew.XAxis.NominalDiameter</td>
                </tr>
                <tr>
                    <td>公称导程 Ph0/mm</td>
                    <td class ="td-25">@Model.BallScrew.XAxis.NominalLead</td>
                </tr>
                <tr>
                    <td>基本额定动载荷 Ca/KN</td>
                    <td class ="td-25">@Model.BallScrew.XAxis.BasicRatedDynamicLoad</td>
                </tr>

                <tr>
                    <td class ="td-25" rowspan="3">Y轴</td>
                    <td>公称直径 d0/mm</td>
                    <td class ="td-25">@Model.BallScrew.YAxis.NominalDiameter</td>
                </tr>
                <tr>
                    <td>公称导程 Ph0/mm</td>
                    <td class ="td-25">@Model.BallScrew.YAxis.NominalLead</td>
                </tr>
                <tr>
                    <td>基本额定动载荷 Ca/KN</td>
                    <td class ="td-25">@Model.BallScrew.YAxis.BasicRatedDynamicLoad</td>
                </tr>

                <tr>
                    <td class ="td-25" rowspan="3">Z轴</td>
                    <td>公称直径 d0/mm</td>
                    <td class ="td-25">@Model.BallScrew.ZAxis.NominalDiameter</td>
                </tr>
                <tr>
                    <td>公称导程 Ph0/mm</td>
                    <td class ="td-25">@Model.BallScrew.ZAxis.NominalLead</td>
                </tr>
                <tr>
                    <td>基本额定动载荷 Ca/KN</td>
                    <td class ="td-25">@Model.BallScrew.ZAxis.BasicRatedDynamicLoad</td>
                </tr>
            </table>
            <br />
            <br />
            <br />

            <h3 class="sub-title">四、 机床动力学仿真图表</h3>
            <div>
                <img class="simu-pic" src="@Model.SimulationPictures[0]" />
                <br />
                <img class="simu-pic" src="@Model.SimulationPictures[1]" />
                <br />
                <img class="simu-pic" src="@Model.SimulationPictures[2]" />
            </div>
            <br />
            <br />
            <br />
            <br />
            <p class="paragraph"><img style="width:1.22cm; height:1.07cm" src="~/App/images/Report/cautious.png"/>注意事项</p>
            <ol style="line-height: 24px; margin-left: 20px">
                <li><p>该选型软件包括了大部分机床类型，还有少部分没有考虑，下一代选型软件将会不断完善。</p></li>
                <li><p>该选型软件数据库更新升级的过程，希望机床厂家使用该软件的同时向我们提供相关数据，使得软件应用范围更广，包含的数据库更加丰富。</p></li>
                <li><p>该软件提供是一个参考和借鉴，我们不对使用我们软件造成的损失负责。</p></li>
            </ol>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <hr />
            <br />
            <br />
            <br />
        </div>
    </div>

</body>
</html>
